
.wrapper {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.movie-poster {
    width:100%;
}

.movie-poster {
    object-fit:cover;
}